<!DOCTYPE html>
<html lang="en">
	<head>
		<title>American Home Security Systems | Support</title>
	</head>

	<body class="preload" data-spy="scroll" data-offset="0" data-target="#navigation">

	<%= render 'layouts/nav' %>

	<section class="billboard">
		<div class="wrapper">
			<div class="caption">
				<p style="text-align:center">American Home Security Systems is a quickly-growing security firm based in Columbus, Ohio.
			</div>
		</div>
	</section><!--  End Billboard  -->

	<section id="home" name="home"></section>


	<section id="desc" name="desc"></section>
	<!-- INTRO WRAP -->
	<div id="intro">
		<div class="container">
			<div class="row centered">
			<div class="col-sm-6 col-md-6 col-lg-4">
				<h3></h3>
				<%= image_tag 'home_icon1.png' %>
				<h3>Guaranteed Service</h3>
				<h4>We'll guarantee a 99.5% service uptime.</h4>
			</div>
			
	        <div class="col-sm-6 col-md-6 col-lg-4">
	        	<h3></h3>
			   	<%= image_tag 'home_icon2.png' %>
				<h3>Fast Response Time</h3>
				<h4>Our average response time from alarm triggering to authorities arriving on the scene is five minutes.</h4>
			</div>


        	<div class="col-sm-6 col-md-6 col-lg-4">
        		<h3></h3>
        		<%= image_tag 'home_icon3.png' %>
				<h3>Burglary and Fire Protection</h3>
				<h4>Why stop at protecting your home from burglars?  We also have fire alarms that trigger at a certain threshold of carbon monoxide.</h4>
        	</div>

    </div>

</div>
</div>

	<span class="sep_line sep_bottom"></span>

	<div class="accordion-group">
		<div class="img-responsive">
			<section class="cta">
				<%= link_to "Sign up for a free quote!", :class => "cta_btn" %>
				<span class="cta_sep"></span>
			</section>
		</div>
	</div>

	<div id="c">
		<div class="container"></div>
	</div>

	<script>
		$('.carousel').carousel({
		  interval: 3500
		})
	</script>

	</body>
</html>